services:
  tei-service:
    image: ghcr.io/huggingface/text-embeddings-inference:1.6 # Or desired version
    ports:
      - "YOUR_HOST_PORT:80" # Map container port 80 to a host port
    volumes:
      - tei-data:/data # Persist downloaded models
    restart: unless-stopped
    environment:
      MODEL_ID: nomic-ai/nomic-embed-text-v1.5 
      PORT: 8079
      # **IMPORTANT: Update IMAGE_TAG according to GPU arch, eg RTX 3090 (Ampere 86)**
      # IMAGE_TAG: 86-1.6
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    pull_policy: always

volumes:
  tei-data: